###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#####################
# Assertions & Tests #
#####################

snippet pdb "Set PDB breakpoint" !b
import sys;sys.path.append("d://PydevDebug");import pydevd;pydevd.settrace()
endsnippet

# vim:ft=snippets:
