[submodule "bundle/vimproj"]
	path = bundle/vimproj
	url = git@github.com:okcompute/vimproj.git
[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
